#content{
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    background:lavender; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

body {
    background-color: rgb(182, 203, 189);
    font-family: "Cinzel", serif;
    border-radius:1.9px;
}

#hd {
    text-align: center;
    color: rgb(117, 78, 26);
    background-color: rgb(169, 196, 108);
    border: 3px solid rgb(248, 225, 183);
    font-family: "Cinzel", serif;
    padding: 10px;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    border-radius:1.7px;
}

img {
    height: 300px;
    width: 500px;
    display: block;
    margin: 20px auto; 
    border: 2px solid rgb(248, 225, 183);
    border-radius: 0.5px;
}
h2{
    text-align: center;
    color: goldenrod;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

li {
    margin: 10px 0;
}

a {
    text-decoration: none; 
    color: rgb(117, 78, 26); 
    font-size: 18px;
    font-weight: bold;
}

a:hover {
    text-decoration: underline; 
    color: rgb(85, 55, 18); 
}
